.exchange-container {
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: 500px;
    border: 2px solid black;
    text-align: center;
}

.exchange-container:hover {
    background-color: rgb(247, 205, 155);
}

.exchange-container .exchange-content {
    width: 100;
    text-align: left;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 15px;
}

.exchange-container .exchange-header {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 10px;
}

.exchange-header .exchange-title {
    font-size: 25px;
    margin-left: 10px;
}

.exchange-container .arrow {
    position: relative;
    bottom: 50%;
    left: 45%;
    width: 50px;
}