.background-container {
    background-color: beige;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 750px;
    border: 2px solid black;
    margin-top: 100px;
}

.return-container {
    margin: 10px;
    margin-top: 15px;
    border: 2px solid black;
    width: 150px;
    text-align: center;
}

.return-container:hover {
    background-color: rgb(247, 205, 155);
}


.upper-container {
    display: inline-flex;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
}

.upper-container .content {
    list-style-type: none;
    font-size: 15px;
}

.desc-container {
    margin: 10px;
}

.desc-container header {
    border-bottom: 2px solid black;
}

.desc-container p {
    margin-top: 5px;
}