.main-container {
    text-align: center; 
    background-color: beige;
}


.exchange-list {
    list-style: none;
    display: inline-block;
}

.exchange-list .exchange-items {
    margin-bottom: 10px;
}