.main-container {
    text-align: center; 
    background-color: beige;
    width: 100%;
    height: 100%;
}

.main-container .exchange-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}


.exchange-list {
    list-style: none;
    display: inline-block;
}

.exchange-list .exchange-items {
    margin-bottom: 10px;
}